@media (max-width:480px){
    /**/
    body {
        background-color: #f18b17;
    }
    section{
        padding: 40px 0;
        display: block;
        position: relative;
    }
    .section-header{
        position: relative;
        display: block;
    }
    .section-header::before{
        position: absolute;
        content: " ";
        background: url("../img/pattern-top01.png");
        width: 200px;
        top: -40px;
        margin: auto;
        height: 31px;
        left: 0;
        right: 0;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section1 {
        padding-bottom: 80px;
        padding-top: 60px;
    }
    /*#scroll {
        padding-top: 20px;
    }*/
    .section1-banner {
        background-image: url(../img/eight-fold/eight-fold-bnr.png);
        background-size: cover;
        background-position: 100% 100%;
        background-repeat: no-repeat;
    }
    .section-header h2 {
        font-family: 'TheSans-8ExtraBold';
        font-size: 54px;
        line-height: 45px;
        text-align: center;
        color: #000;
        margin: 0;
        text-transform: uppercase;
    }
    .cust-txt {
        font-family: 'TheSans-6SemiBold';
        font-size: 36px;
        line-height: 36px;
    }
    .icon-header {
        width: 100%;
        padding: 20px 0 60px;
    }
    .arrow-down {
        width: 40px;
        height: 30px;
        margin: 0 auto;
        display: table;
    }
    .arrow-down img {
        width: 100%;
    }
    .numbers {
        margin: 0 auto;
        width: 100px;
        border: 5px dotted #000000;
        border-radius: 50%;
        height: 100px;
        display: flex;
    }
    .numbers span {
        text-align: center;
        width: 100%;
        float: none;
        vertical-align: middle;
        color: #000000;
        font-family: 'TheSans-8ExtraBold';
        font-size: 75px;
        line-height: 65px;
    }
    .heading-cm::before {
        position: absolute;
        content: " ";
        background: url(../img/pattern-top01.png);
        width: 200px;
        top: -45px;
        margin: auto;
        height: 31px;
        left: 0;
        right: 0;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .heading-cm {
        font-family: 'TheSans-8ExtraBold';
        color: #000000;
        font-size: 40px;
        line-height: 30px;
        text-align: center;
        margin: 75px 0 0;
        position: relative;
        padding-bottom: 30px;
        padding-top: 10px;
        text-transform: uppercase;
    }
    .heading-sm {
        font-family: 'TheSans-8ExtraBold';
        color: #000000;
        font-size: 26px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
    }
    .img-icon {
        width: 100%;
    }
    .clr01 {
        background-color: #d2812d;
    }
    .section3 h2 {
        font-family: 'TheSans-6SemiBold';
        font-size: 40px;
        line-height: 42px;
        text-align: center;
        color: #ffffff;
        margin: 0;
        padding-bottom: 30px;
    }
    .list-cm {
        list-style-image: url('../img/eight-fold/eight-fold-list.png');
        display: inline-block;
        width: 48%;
        vertical-align: top;
    }
    .list-cm li {
        color: #ffffff;
        font-family: 'TheSans-5Regular';
        font-size: 26px;
        padding-bottom: 8px;
    }
}

@media (max-width:375px) {
    .list-cm {
        width: 100%;
        display: block;
        margin: 0;
    }
    .section3 h2 {
        font-size: 32px;
        line-height: 36px;
    }
}

@media (max-width:360px){
    .section-header::before {
        width: 160px;
        height: 26px;
        top: -34px;
        background-size: contain;
    }
    .heading-cm::before {
        width: 160px;
        height: 26px;
        background-size: contain;
    }
    .section1 {
        padding-bottom: 30px;
        padding-top: 60px;
    }
    .heading-cm {
        font-size: 34px;
        line-height: 30px;
        padding-top: 0;
    }
    .heading-sm {
        font-size: 22px;
        line-height: 20px;
    }
    .cust-txt {
        font-size: 30px;
        line-height: 36px;
    }
    .section-header h2 {
        font-size: 40px;
        line-height: 32px;
    }
    .list-cm li {
        color: #ffffff;
        font-family: 'TheSans-5Regular';
        font-size: 22px;
        padding-bottom: 8px;
    }
}