.body-cls {
    background-color: #fffefa;
}
@media (max-width:480px){
    /**/  
    section{
        padding: 40px 0;
        display: block;
        position: relative;
    }
    .section1 {
        padding-bottom: 30px;
        padding-top: 60px;
    }
    .section-header{
        position: relative;
        display: block;
    }
    .section-header::before{
        position: absolute;
        content: " ";
        background: url("../img/pattern-top01.png");
        width: 200px;
        top: -40px;
        margin: auto;
        height: 31px;
        left: 0;
        right: 0;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section-header h2 {
        font-family: 'TheSans-8ExtraBold';
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #000;
        margin: 0;
        text-transform: uppercase;
        padding-top: 10px;
    }
    .section-header h2 span {
        font-size: 54px;
        line-height: 40px;
    }
    .banner {
        width: 100%;
        padding: 30px 0;
    }
    p.paragraph-cm {
        font-family: 'TheSans-5Regular';
        font-size: 26px;
        line-height: 34px;
        color: #000000;
        padding-bottom: 20px;
        margin: 0;
    }
    .arrow-down {
        width: 40px;
        height: 30px;
        margin: 0 auto;
        display: table;
    }
    .arrow-down img {
        width: 100%;
    }
    .heading-cm {
        font-family: 'TheSans-8ExtraBold';
        color: #ca4f29;
        font-size: 40px;
        line-height: 34px;
        text-align: center;
        margin: 50px 0 0;
        position: relative;
        padding-bottom: 25px;
        text-transform: uppercase;
    }
    .section2-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .heading-sm {
        font-family: 'TheSans-5Regular';
        color: #ca4f29;
        font-size: 32px;
        line-height: 30px;
    }
    .section2-content h3::before {
        position: absolute;
        content: " ";
        background: url("../img/pattern-top01.png");
        width: 200px;
        top: -45px;
        margin: auto;
        height: 31px;
        left: 0;
        right: 0;
        z-index: 10;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .list-cm li {
        color:#ca4f29;
        font-size: 20px;
    }
    .list-cm li span{
        font-family: 'TheSans-5Regular';
        font-size: 26px;
        line-height: 34px;
        color: #000000;
        padding-bottom: 20px;
        margin: 0;
    }
    .list-cm {
        padding-left: 25px;
    }
}

@media (max-width: 360px) {
    .section-header::before {
        width: 160px;
        height: 26px;
        top: -34px;
        background-size: contain;
    }
    .section2-content h3::before {
        width: 160px;
        height: 26px;
        background-size: contain;
    }
    .section-header h2 span {
        font-size: 40px;
    }
    .section-header h2 {
        font-size: 30px;
        line-height: 26px;
    }
    p.paragraph-cm {
        font-size: 22px;
        line-height: 30px;
    }
    .list-cm li {
        font-size: 16px;
    }
    .list-cm li span{
        font-size: 22px;
        line-height: 30px;
    }
    .heading-cm {
        font-size: 34px;
        line-height: 28px;
    }
    .heading-sm {
        font-size: 24px;
        line-height: 20px;
    }
    .list-cm {
        padding-left: 25px;
    }
}