
@font-face {
  font-family: 'TheSans-5Regular';
  src: url('TheSans-5Regular.eot?#iefix') format('embedded-opentype'),  url('TheSans-5Regular.woff') format('woff'), url('TheSans-5Regular.ttf')  format('truetype'), url('TheSans-5Regular.svg#TheSans-5Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheSans-6SemiBold';
  src: url('TheSans-6SemiBold.eot?#iefix') format('embedded-opentype'),  url('TheSans-6SemiBold.woff') format('woff'), url('TheSans-6SemiBold.ttf')  format('truetype'), url('TheSans-6SemiBold.svg#TheSans-6SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheSans-8ExtraBold';
  src: url('TheSans-8ExtraBold.eot?#iefix') format('embedded-opentype'),  url('TheSans-8ExtraBold.woff') format('woff'), url('TheSans-8ExtraBold.ttf')  format('truetype'), url('TheSans-8ExtraBold.svg#TheSans-8ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

